#root {
    -fx-background-image: url("background.png");
}

.choice-box {
	-fx-background-color: #085CA6;
	-fx-background-color: linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
							linear-gradient(#20262b, #191d22),
							radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9),
							rgba(255,255,255,0));
	-fx-text-fill: #FFFFFF;
	-fx-background-radius: 3;
}

.choice-box .label {
	-fx-text-fill: white;
}

.button {
	-fx-background-color: #085CA6;
	-fx-background-color: linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
							linear-gradient(#20262b, #191d22),
							radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9),
							rgba(255,255,255,0));
	-fx-text-fill: #FFFFFF;
	-fx-background-radius: 3;
}

.tab-pane .tab-header-area .tab-header-background {
	-fx-opacity: 0;
}

.tab-pane .tab {
	-fx-background-color: #2F373F;
	-fx-background-radius: 5;
	-fx-border-color: #0C1E24;
	-fx-border-radius: 5;
}

.tab-pane .tab:selected {
	-fx-background-color: #4E6073;
	-fx-background-radius: 5;
	-fx-border-color: #0C1E24;
	-fx-border-radius: 5;
}

.tab:selected .tab-label {
	-fx-text-fill: #FFFFFF;
	-fx-font-weight: bold;
}

.tab .tab-label {
	-fx-text-fill: #FFFFFF;
	-fx-font-weight: normal;
}

.text-field {
	-fx-background-color: #2F373F;
	-fx-background-radius: 5;
	-fx-border-color: #0C1E24;
	-fx-border-radius: 5;
	-fx-text-fill: #FFFFFF;
}
